section
  h2.title Job offers
  image(src='images/job-offers.png' width='500px')
  aside.notes    
    | On this slide you can see a pie chart of job offers, that 
    | requires knowledge of specific framework. It has some interesting pattern,
    | job offers that requires knowledge of Angular significantly more,
    | than same offers requiring VueJS, despite the fact that 
    | we have seen on previous slide, that Vue has more npm downloads than Angular.