section
  h2.title Key Features of React  
  p.fragment.fade-up.very-small-text 1. High performance with Virtual Dom
  p.fragment.fade-up.very-small-text 2. Scalability
  p.fragment.fade-up.very-small-text 3. JSX
  p.fragment.fade-up.very-small-text 4. React Native
  p.fragment.fade-up.very-small-text 5. Encourages a functional development pattern
  p.fragment.fade-up.very-small-text 6. The code is divided into units and it is easy to test
  p.fragment.fade-up.very-small-text 7. Flux architecture
  p.fragment.fade-up.very-small-text 8. Huge ecosystem and community
  p.fragment.fade-up.very-small-text 9. Used on large production projects
  aside.notes    
    | On this slide you can notice important features of React.
    | First of all it provides high performance with Virtual Dom.
    | Second is that projects on react are scalable.
    | Third is that React has JSX syntax, which extends EcmaScript and makes possible to 
    | write HTML/XML-like structures in the same file as you write JavaScript code
    | Fourthly, it has React Native, which helps to create real and exciting mobile apps with the help of JavaScript code only.
    | Fifthly, React encourages a functional development pattern
    | Also the code in React is divided into units that can be easily tested.
    | Seventh is that react uses Flux architecture.
    | Finally React, has huge ecosystem and used in large production projects. 