section  
  .grid-block.grid-left
    .grid-block__content
      image(src='images/plus.png' width='100px')
      p.very-small-text Easy to integrate into an existing project
      p.very-small-text Official libraries   
      p.very-small-text Works well enough out of the box without requiring additional intervention  
      p.very-small-text Not supported by a multinational Corporation          
    .grid-block__content
      image(src='images/minus.png', width='100px')
      p.very-small-text Small community compared to React or Angular  
      p.very-small-text Difficulty with reusing and expanding components with HOC or mixins
      p.very-small-text There is no obvious best practices yet             
  aside.notes
    | Ok, let's discuss positives and negatives sides of using VueJS.
    | It could be mentioned that VueJS can be easily integrated into an existing project,
    | it has official libraries for some cases,
    | it works well enough out of the box without requiring additional intervention,
    | also VueJs is not governed by a multinational Corporation. Significant 
    | negative points of using VueJS are: small community in comparison with React or Angular,
    | difficulty with reusing and expanding components with Higher Order Components or mixins,
    | there is no obvious best practices yet.