section
  h2.title Virtual DOM
  image(src='images/virtual-dom.png' width='700px')
  aside.notes    
    | Now you can observe the process of cooperation of virtual dom with browser dom.
    | Initially React JSX transformer converts JSX files into JS files, which with React runtime
    | library form the React Virtual DOM. Afterwards, Browser Dom transfers various events to Virtual DOM and receives
    | small optimized updates to maintain synchronization.