section
  h2.title JavaScript
  .grid-block
    .grid-block__content.fragment.fade-up
      image(src='images/dynamic-pages.png' width='100px' height='100px')
      p.small-text dynamic pages
    .grid-block__content.fragment.fade-up
      image(src='images/user-interactivity.png', width='100px')
      p.small-text user interactivity
    .grid-block__content.fragment.fade-up
      image(src='images/animations.png', width='100px')
      p.small-text animations
    .grid-block__content.fragment.fade-up
      image(src='images/async.png', width='100px')
      p.small-text asynchronous fetching of content
  aside.notes
    | Definitely, JavaScript is main language and has ubiquitous
    | proliferation in front-end development sphere nowadays.
    | Without JS the internet would be just static pages of information;
    | no user interactivity, no animations, and lots of page reloading to fetch new information.    