section  
  .grid-block.grid-left
    .grid-block__content
      image(src='images/plus.png' width='100px')
      p.very-small-text Framework and ecosystem out of the box
      p.very-small-text Ecosystem and community   
      p.very-small-text Google support   
      p.very-small-text Out-of-the-box code standards   
      p.very-small-text TypeScript Data Typing  
      p.very-small-text Flexible work with HTML (creating custom tags, changing the behavior of existing ones)   
      p.very-small-text RxJs  
      p.very-small-text Dependency Injection allows you to interfere with the behavior of almost everything   
      p.very-small-text Modularity      
    .grid-block__content
      image(src='images/minus.png', width='100px')
      p.very-small-text Documentation is not OK  
      p.very-small-text The threshold is high 
      p.very-small-text Large amount of code output 
      p.very-small-text Dependency Injection makes testing more difficult
      p.very-small-text Without configuration the build can weigh 600kb     
  aside.notes
    | On this slide you can observe strengths and weaknesses of Angular.
    | Its strengths are full ecosystem out of the box, large community,
    | Google support, Out-of-the-box code standards,
    | TypeScript Data Typing, Flexible work with HTML,
    | Reactive programming with RxJs. Significant 
    | weaknesses of using Angular are: imperfect documentation,
    | very high threshold for beginners, Dependency Injection makes testing more difficult,
    | Large amount of code output, final build can weigh about 600kb.