section
  h2.title Structure of presentation
  p.fragment.fade-up 1. What is JavaScript?
  p.fragment.fade-up 2. What is JS Frameworks?
  p.fragment.fade-up 3. Review of each Framework
  p.fragment.fade-up 4. Some stats
  aside.notes
    | First and foremost, let's make sense the structure of this presentation. 
    | Initially, I want to specify what JavaScript is and emphasise some problems with it. 
    | Then, we will recognize the purpose of JavaScript Frameworks.
    | Afterwards, I will take a look more closely at each JavaScript Framework.
    | And finally, I will show some statistics about using these Frameworks.