section
  h2.title Who uses React?
  image(src='images/react-users.png' width='800px')
  aside.notes    
    | Here is some of the biggest and most famous companies, that
    | implemented React in their production. They are: DropBox, Netflix, Instagram,
    | AirBnB, Facebook and the New York Times.