section
  h2.title JS Frameworks (Libraries) History
  image(src='images/framework-history.png' width='800px')
  aside.notes    
    | Here you can observe the timeline of popular JS Frameworks and Libraries creation.
    | It is necessary to mention that some of frameworks, that has been developed a long time ago
    | Still have support and are using widely. We will discuss about three most popular frameworks: React, Angular and Vue.