section
  h2.title NPM downloads per month
  image(src='images/npm-downloads.png' width='1000px')
  aside.notes    
    | Here is the number of NPM packages downloads within a last year.
    | It is obvious that React dominates among other Frameworks and has almost 
    | 36 millions of downloads.
