section
  h2.title Key Features of Angular  
  p.fragment.fade-up.very-small-text 1. The code is usually written in TypeScript
  p.fragment.fade-up.very-small-text 2. Uses HTML-like language for templates (ng -...)
  p.fragment.fade-up.very-small-text 3. Powerful features for two-way binding of data to a template
  p.fragment.fade-up.very-small-text 4. Directives to modify the default behavior of the HTML
  p.fragment.fade-up.very-small-text 5. Reactive programming with RxJS
  p.fragment.fade-up.very-small-text 6. Dependency Injection out of the box
  p.fragment.fade-up.very-small-text 7. By default encapsulates styles for the component 
  aside.notes    
    | On this slide you can get acquainted main features of React.
    | Firstly, Angular is TypeScript based framework.
    | Second point is that it uses HTML-like language for templates.
    | Third is that Angular has powerful features for two-way binding of data to a template .    
    | Fourth point is directives to modify the default behavior of the HTML.
    | Fifthly, Angular provides Reactive programming with RxJS.
    | Sixth point is that it has dependency Injection out of the box.
    | And finally, Angular encapsulates styles for the component by default.