section
  h2.title Statistics
  image(src='images/stats.png' width='400px')
  aside.notes    
    | In conclusion, I want to demonstrate some statistics regarding 
    | Frameworks we discussed in previous slides.