section
  h2.title Who uses Angular?
  image(src='images/angular-users.png' width='800px')
  aside.notes    
    | Here is some of the biggest services, that
    | implemented Angular in their projects. They are: Google fonts, McDonald's, XBox Live,
    | Adobe, Apple, etc.