section
  h2.title React 2013
  image(src='images/react.png' width='800px')
  aside.notes    
    | Let's talk about React, that was developed by Facebook and firstly
    | was applied in Facebook news feed. 