section
  h2.title Who uses Vue?
  image(src='images/vue-users.png' width='800px')
  aside.notes    
    | Here is some examples of the VueJS users among big companies. They are: Facebook Newsfeed, EuroNews,
    | Xiaomi, Wizz Air, Alibaba, etc.    