section
  h2.title Purpose of Frameworks
  p.fragment.fade-up.small-text 1. They are based on components
  p.fragment.fade-up.small-text 2. They have a strong community
  p.fragment.fade-up.small-text 3. They have plenty of third party libraries to deal with things
  p.fragment.fade-up.small-text 4. They have useful third party components
  p.fragment.fade-up.small-text 5. They have browser extensions that help debugging things
  p.fragment.fade-up.small-text 6. They are good for doing single page applications
  p.fragment.fade-up 7. They keeps the UI in sync with the state
  aside.notes    
    | By talking about Frameworks, at first, let's define what is it. 
    | By the most common definition, JS frameworks are collections of JavaScript code libraries
    | that provide developers with pre-written JS code to use for routine 
    | programming features and tasks — literally a template to build websites or web applications around.
    | So JS Frameworks provide lots of interesting things, that simplify the process of implementing a web application.
    | the most obvious framework's advantages are:
    | They are based on components.
    | They have a strong community.
    | They have plenty of third party libraries to deal with things.
    | They have useful third party components.
    | They have browser extensions that help debugging things.
    | They are good for doing single page applications.
    | And the most essential reason to use frameworks is that
    | They keeps the UI in sync with the state, which one of the hardest task.