section
  h2.title Angular 2016
  image(src='images/angular.png' width='800px')
  aside.notes    
    | Ok, let's continue with Angular Framework, that is improved
    | TypeScript based version of AngularJS and was developed by Google. 