section
  h2.title Stack Overflow Stats
  image(src='images/stack-overflow.png' width='600px')
  aside.notes    
    | And finally let's observe one more interesting graph,
    | that demonstrates increasing interest of Vue and React over last years,
    | in contrast with Angular, which showed decrease of interest on StackOverFlow.