section  
  .grid-block.grid-left
    .grid-block__content
      image(src='images/plus.png' width='100px')
      p.very-small-text Functional approach
      p.very-small-text JSX   
      p.very-small-text CSS in JS   
      p.very-small-text Ecosystem and community   
      p.very-small-text Support from Facebook   
      p.very-small-text Flux architecture   
      p.very-small-text A huge number of open source libraries   
      p.very-small-text Components - clean functions are convenient and easy to test   
      p.very-small-text It is convenient to debag errors 
      p.very-small-text Preact and React Native 
    .grid-block__content
      image(src='images/minus.png', width='100px')
      p.very-small-text Only View out of the box    
      p.very-small-text Requires knowledge of webpack, the ability to find the right library for everything          
  aside.notes
    | On this slide you can identify pros and cons about using React.
    | No doubt, that such features like Functional programming approach,
    | JSX, using CCS in JS, huge ecosystem and community, support from facebook corporation,
    | Flux architecture, which is advanced version of MVC for web-development, using components
    | and preact and react native techs are key values of React. However there are some 
    | weaknesses of using React, such as we have only View component out of the box, 
    | it requires confident knowledge of webpack to find end set up necessary libraries.