section
  h2.title VueJS
  image(src='images/vue.png' width='800px')
  aside.notes
    | Finally, let's take a look at VueJS Framework, that is progressive 
    | Framework and can be implemented into existing projects.