section(data-background-color='#141519' )
  h2.title JS Frameworks
  image(src='images/js.png' width='300px')
  p Review by Andrey Lavrov
  aside.notes
    | Hello, everyone, who watches this presentation. 
    | First of all, I want to introduce myself. 
    | My name is Andrey Lavrov and I am currently student of Rolling Scopes School.
    | Front-End Development is a field that I am really fond of and want to make a career in it.
    
