section
  h2.title Complexity of modern Web Sites
  image(src='images/web-site-complexity.png' width='800px')
  aside.notes    
    | However, modern web sites or application can have hundreds or thousands of little conditionals and states,
    | each of which govern their own part of the content on the page. This fact makes it extremely difficult to 
    | keep code up to date, to fix problems and to add new features for web developers.
    | So, by this reason, various JS Frameworks were invented and it affects our developing process positively
    | and helps to improve our performance significantly.