section
  h2.title Key Features of Vue  
  p.fragment.fade-up.very-small-text 1. Progressiveness, well suited for projects where you need to refactor (JQuery)
  p.fragment.fade-up.very-small-text 2. Created by one person (Evan Yu) under the influence of Angular - in order to throw out all the excess and take the best
  p.fragment.fade-up.very-small-text 3. 20! KB in the minimal version
  p.fragment.fade-up.very-small-text 4. Easy to learn
  p.fragment.fade-up.very-small-text 5. Supports the main modern libraries according to the core
  p.fragment.fade-up.very-small-text 6. Very well suited in projects where you need to use animation / svg
  aside.notes    
    | On this slide you can see core features of VueJs.
    | First of all it well suited for projects where you need to refactor existing code.
    | Second is that VueJS was created by one person (Evan Yu) under the influence of Angular
    | - in order to throw out all the excess and take the best.
    | Third is that final build weight only 20! KB in the minimal version.
    | Fourthly, it is the easiest Framework for beginners.
    | Fifthly, VueJS supports the majority of modern libraries.
    | Finally it is suite for projects where you need to use animations or svg.