section
  h2.title React vs Angular - learning curve
  image(src='images/react-angular-learning-curve.png' width='800px')
  aside.notes    
    | It is interesting to compare learning curves of React and Angular.
    | According to graph Angular has very high threshold, but as time goes 
    | learning Angular becomes much more easier, oppositely to React,
    | where the number of challenges increases significantly with time.